<nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
    <a class='navbar-brand' href='/'>Cấu trúc dữ liệu và giải thuật</a>
    <button
        class='navbar-toggler'
        type='button'
        data-toggle='collapse'
        data-target='#navbarSupportedContent'
        aria-controls='navbarSupportedContent'
        aria-expanded='false'
        aria-label='Toggle navigation'
    >
        <span class='navbar-toggler-icon'></span>
    </button>

    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
        <ul class='navbar-nav mr-auto'>
            <li class='nav-item'>
                <a class='nav-link' href='/search'>Tìm kiếm</a>
            </li>
            <li class='nav-item'>
                <a class='nav-link' href='/courses/create'>Đăng bài viết</a>
            </li>
            <li class='nav-item'>
                <a class='nav-link' href='/me/stored/courses'>Bài viết của tôi</a>
            </li>
        </ul>
        <a href='/login' class='btn btn-outline-success my-2 my-sm-0'>Đăng nhập</a>
    </div>
</nav>